
    <ul>
        <li><a href="Ogloszenia" class="link">Ogłoszenia</a></li>
        <li><a href="Przedmioty/ReadForNauczyciel" class="link">Przedmioty</a></li>
        <li><a href="Wiadomosci/WyslijWiadomosc" class="link">Wyślij Wiadomość</a></li>
        <li><a href="Testy/Index" class="link">Testy</a></li>
        <li><a href="Oceny" class="link">Oceny</a></li>
        <li><a href="Konto/UpdateForUser" class="link">Profil</a></li>
    </ul>