<style>
    .custom-buttons ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .custom-buttons ul li {
            margin-bottom: 10px;
        }

            .custom-buttons ul li a {
                display: inline-block;
                padding: 10px 20px;
                background-color: cornflowerblue;
                color: white;
                text-decoration: none;
                border-radius: 15px;
                font-size: 16px;
                transition: background-color 0.3s;
            }

                .custom-buttons ul li a:hover {
                    background-color:aquamarine;
                }
</style>

<div class="custom-buttons">
    <ul>
        <li><a href="Ogloszenia">Ogłoszenia</a></li>
        <li><a href="Przedmioty/ReadForNauczyciel">Przedmioty</a></li>
        <li><a href="Wiadomosci/WyslijWiadomosc">Wyślij Wiadomość</a></li>
        <li><a href="Testy/Index">Testy</a></li>
        <li><a href="Oceny">Oceny</a></li>
    </ul>
</div>
