@model Klasa
<form action="/Klasy/Create" method="post">
    <table>
        <tr>
            <td>Numer roku: </td>
            <td><input type="number" name="NumerRoku" min="1" max="9" title="Podaj jednocyfrowy" required/></td>
        </tr>
        <tr>
            <td>Litera klasy: </td>
            <td><input type="text" name="LiteraKlasy" pattern="[A-Z]{1}" tittle="Maksymalnie 1 znak" required/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Dodaj" /></td>
        </tr>
    </table>
</form>
<form action="/Klasy" method="get">
    <button type="submit">Wróć</button>
</form>
