@model Brutus.DTOs.SetWychowawcaViewModel;

<h1>Przypisywanie wychowawcy do klasy</h1>

@using (Html.BeginForm("SetWychowawca", "Klasy", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Klasa.ID_Klasy)
    <h2>@Model.Klasa.NumerRoku</h2>
    <h2>@Model.Klasa.LiteraKlasy</h2>

    @Html.DropDownListFor(model => model.WybranyNauczycielID, Model.Nauczyciele, "Wybierz nauczyciela")
    <input type="submit" value="Zapisz zmiany" />
}