<style>
    .button-link {
        display: inline-block;
        margin: 5px 10px;
        padding: 10px 15px;
        background-color: #5D3FD3;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .button-link:hover {
            background-color: crimson;
            color: white;
        }
</style>

<div>
    <a class="button-link" href="Konta">Konta</a>
    <a class="button-link" href="Przedmioty">Przedmioty</a>
    <a class="button-link" href="Klasy">Klasy</a>
    <a class="button-link" href="Uczniowie/ZarzadzanieUczniami">Uczniowie</a>
</div>