@{
    ViewData["Title"] = "UczenPanel";
}

<ul>
    <li><a href="Oceny">Oceny</a></li>
    <li><a href="ShowForUczen">Testy</a></li>
    <li><a href="Wiadomosci">Wiadomosci</a></li>
    <li><a href="/Ogloszenia/Aktualnosci">Aktualności</a></li>
</ul>