@{
    ViewData["Title"] = "UczenPanel";
}

<ul>
    <li><a href="/UczenPanel/Oceny" class="link">Oceny</a></li>
    <li><a href="/Testy/ShowForUczen" class="link">Testy</a></li>
    <li><a href="Wiadomosci" class="link">Wiadomosci</a></li>
    <li><a href="/Ogloszenia/Aktualnosci" class="link">Aktualności</a></li>
</ul>