<h1>Oceny</h1>

    <table>
        <th>
        <tr>
            <th>ID</th>
            <th>Przedmiot</th>
            <th>Wartość</th>
            <th>Waga</th>
            <th>Data</th>
            <th>Komentarz</th>
        </tr>
        </thead>
        <tbody>
       
        
            <tr>
 
            </tr>
        
        </tbody>
    </table>

