@model Przedmiot
<form action="/Przedmioty/Create" method="post">
<table>
    <tr>
        <td>Nazwa: </td>
        <td><input type="text" name="Nazwa" pattern=".{1,20}" title="Maksymalna długość to 20 znaków" /></td> 
    </tr>
    <tr>
        <td>Opis: </td>
        <td><textarea name="Opis" rows="4" cols="50" pattern=".{1,500}" tittle="Maksymalnie 500 znaków"></textarea></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Dodaj" /></td>
    </tr>
</table>
</form>
<form action="/Przedmioty" method="get">
    <button type="submit">Wróć</button>
</form>