@model Przedmiot

<form action="Update" method="post">
    <input type="hidden" asp-for="ID_Przedmiotu" />
    <div>
        <label>Nazwa:</label>
        <input type="text" asp-for="Nazwa" pattern=".{1,20}" title="Maksymalna długość to 20 znaków"/>
    </div>
    <div>
        <label>Opis:</label>
        <textarea asp-for="Opis" pattern=".{1,500}" tittle="Maksymalnie 500 znaków"></textarea>
    </div>
    <button type="submit" class="btn">Zapisz zmiany</button>
</form>