@{
    ViewData["Title"] = "RodzicPanel";
}

<ul>
    <li><a href="/RodzicPanel/Uczniowie" class="link">Uczniowie</a></li>
    <li><a href="Wiadomosci" class="link">Wiadomosci</a></li>
    <li><a href="/Ogloszenia/Aktualnosci" class="link">Aktualności</a></li>
</ul>