
@model List<Brutus.Models.Ogloszenie>

@{
    string autorOgloszenia; 
}

<h1>Aktualności</h1>

@if (Model != null && Model.Any())
{
    <table class="announcement-table">

        <thead>
        <tr>
            <th>ID</th>
            <th>Nauczyciel</th>
            <th class="content-column">Treść</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var ogloszenie in Model)
        {
            <tr>
                <td>@ogloszenie.ID_Ogloszenia</td>
                <td>
                    @if (ogloszenie.Nauczyciel != null)
                    {
                        autorOgloszenia = "";
                        autorOgloszenia += ogloszenie.Nauczyciel.Konto.Imie + " ";
                        autorOgloszenia += ogloszenie.Nauczyciel.Konto.Nazwisko;
                    }
                    else { autorOgloszenia = "-"; }
                    @autorOgloszenia
                </td>
                <td class="content-column">@ogloszenie.Tresc</td>

            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Brak ogłoszeń do wyświetlenia.</p>
}