<style>
    h1 {
        text-align: center;
    }

    .announcement-table {
        width: 100%;
        border-collapse: collapse;
    }

        .announcement-table th, .announcement-table td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

    button {
        background-color:dimgrey;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
</style>

@model List<Brutus.Models.Ogloszenie>


<h1>Edytor ogłoszeń</h1>

@if (Model != null && Model.Any())
{
    <table class="announcement-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Treść</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ogloszenie in Model)
            {
                <tr>
                    <td>@ogloszenie.ID_Ogloszenia</td>
                    <td>@ogloszenie.Tresc</td>
                    <td>
                        <form action="/Ogloszenia/Update" method="get" style="display: inline;">
                            <input type="hidden" name="id" value="@ogloszenie.ID_Ogloszenia" />
                            <button type="submit" class="btn">Edytuj</button>
                        </form>
                        <form action="/Ogloszenia/AktualnosciEdit" method="post" style="display: inline;">

                            <input type="hidden" name="id" value="@ogloszenie.ID_Ogloszenia" />
                            <button type="submit" class="btn-delete">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak ogłoszeń do wyświetlenia.</p>
}
<form action="/Ogloszenia/Create" method="get">
    <button type="submit" class="btn">Dodaj ogłoszenie</button>
</form>
